.tab {
  overflow: hidden;
  border: 1px solid black;
  background-color: #0c4085ad;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 40px 16px;
  transition: 0.7s;
  font-size: 24px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 16px 12px;
  border: 1px solid black;
  border-top: none;
}
.textPlace {
  width: 500px;
  height: auto;
  border: 1px solid black;
}
.mystyle {
  color: red;
  background-color: black;
}
